body, html {
    font-family: "Roboto", sans-serif;
}

#header {
    width: 100%;
    background: transparent;
    transition: background ease-out 0.3s;
}

#header .navbar-collapse {
    width: auto;
}

#header .nav-link {
    text-transform: uppercase !important;
    font-weight: 500;
    padding-right: 0;
    padding-left: 0;
    margin-right: 15px;
    margin-left: 15px;
    border: 3px solid transparent;
    transition: .3s;
}

#header .nav-link:hover {
    color: var(--primary);
    border-bottom: 3px solid var(--primary);
    transition: .3s;
}

#slider {
    background: url(../assets/slider-bg.svg) no-repeat center bottom;
}

#slider h1 {
    text-transform: uppercase;
    font-weight: 900;
}

#slider h4 {
    text-transform: uppercase;
    font-weight: 400;
}